bit_population_counter/quartus_prj/bit_population_counter.qws
bit_population_counter/quartus_prj/c5_pin_model_dump.txt
bit_population_counter/quartus_prj/db/
bit_population_counter/quartus_prj/incremental_db/
bit_population_counter/quartus_prj/output_files/
bit_population_counter/rtl/bit_population_counter.sv.bak
bit_population_counter/tb/vsim.wlf
bit_population_counter/tb/work/
debouncer/quartus_prj/c5_pin_model_dump.txt
debouncer/quartus_prj/db/
debouncer/quartus_prj/debouncer.qws
debouncer/quartus_prj/incremental_db/
debouncer/quartus_prj/output_files/
debouncer/tb/vsim.wlf
debouncer/tb/work/
deserializer/quartus_prj/c5_pin_model_dump.txt
deserializer/quartus_prj/db/
deserializer/quartus_prj/deserializer.qws
deserializer/quartus_prj/incremental_db/
deserializer/quartus_prj/output_files/
deserializer/tb/vsim.wlf
deserializer/tb/work/
priority_encoder/quartus_prj/c5_pin_model_dump.txt
priority_encoder/quartus_prj/db/
priority_encoder/quartus_prj/priority_encoder.qws
priority_encoder/quartus_prj/incremental_db/
priority_encoder/quartus_prj/output_files/
priority_encoder/tb/vsim.wlf
priority_encoder/tb/vsim_stacktrace.vstf
priority_encoder/tb/work/
serializer/quartus_prj/c5_pin_model_dump.txt
serializer/quartus_prj/db/
serializer/quartus_prj/incremental_db/
serializer/quartus_prj/output_files/
serializer/quartus_prj/serializer.qws
serializer/tb/vsim.wlf
serializer/tb/work/
traffic_lights/quartus_prj/c5_pin_model_dump.txt
traffic_lights/quartus_prj/db/
traffic_lights/quartus_prj/incremental_db/
traffic_lights/quartus_prj/output_files/
traffic_lights/quartus_prj/traffic_lights.qws
traffic_lights/tb/vsim.wlf
traffic_lights/tb/work/
traffic_lights/quartus_prj/simulation/
traffic_lights/quartus_prj/traffic_lights_nativelink_simulation.rpt